.develop {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}

.develop__block-navigate {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  border-radius: 20px;
  height: 78rem;
  padding: 14rem 5rem 7rem 5rem;
}

.develop__title {
  max-width: 50rem;
  margin-top: 2.8rem;
  font-size: 3.2rem;
  line-height: 1.2;
  text-align: start
}

.develop__title-opacity {
  opacity: 0.3;
}

.develop__uppertitle {
  text-align: start;
}

.develop__block-image {
  width: 100%;
  height: 78rem;
  overflow: hidden;
  display: flex;
}

.develop__image {
  width: 100%;
  height: 78rem;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  transition: .4s ease;
}

.develop__image_first {
  background-image: url("/assets/images/home/developImage1.png");
  transform: scale(1);
}

.develop__image_second {
  background-image: url("/assets/images/home/developImage2.png");
  transform: scale(1);
}

.develop__image_third {
  background-image: url("/assets/images/home/introimage3.png");
  transform: scale(1);
}

.develop__pagination {
  display: flex;
  justify-content: space-between;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 100%;
  color: #000000;
  position: relative;
}

.develop__pagination .swiper-pagination-bullet {
  width: 5.5rem;
  height: 5.5rem;
  background-color: transparent;
  border: 1px solid black;
  max-width: 16rem;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .4s ease;
}

.develop__pagination .swiper-pagination-bullet-active {
  border-color: #007D75;
  color: #007D75;
}


.develop__pagination .swiper-pagination-bullet::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("/assets/images/home/icons/star.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 1.6rem;
  height: 1.6rem;
  top: 2rem;
  transition: .4s ease;
}

.develop__pagination .swiper-pagination-bullet-active::before {
  background-image: url("/assets/images/home/icons/starActive.svg");
}

.develop__pagination .swiper-pagination-bullet:nth-child(1):after {
  content: "Станьте монополистом в своем регионе";
  position: absolute;
  top: 8rem;
  max-width: 18rem;
  left: 0;
}

.develop__pagination .swiper-pagination-bullet:nth-child(2):after {
  content: "Получите приглашение на экскурсию на завод Natural Health";
  position: absolute;
  top: 8rem;
  max-width: 20rem;
  left: 21rem;
}

.develop__pagination .swiper-pagination-bullet:nth-child(3):after {
  content: "Делайте лучший e-commerce в России с качественным продуктом и минимальными затратами на рекламу";
  position: absolute;
  top: 8rem;
  width: 100%;
  max-width: 20rem;
  left: 42rem;
}

.develop__pagination-block {
  width: 100%;
  margin-top: 14rem;
  padding-right: 16rem;
}
