<section class="awards">
  <p class="awards__uppertitle upper-title">награды</p>
  <h2 class="awards__title title__second-level">Следим за качеством <span class="awards__title-opacity">и регулярно побеждаем в конкурсах</span></h2>
  <ul class="awards__container">
    <li class="awards__block">
      <img src="/assets/images/home/thanks.png" alt="награда сертификат" class="awards__block-image">
      <h5 class="awards__block-title">Благодарность от комитета по стандарту «Халяль»</h5>
      <p class="awards__block-date">Казань 2020 г.</p>
    </li>
    <li class="awards__block">
      <img src="/assets/images/home/leader.png" alt="награда сертификат" class="awards__block-image">
      <h5 class="awards__block-title">Благодарность от комитета по стандарту «Халяль»</h5>
      <p class="awards__block-date">Казань 2020 г.</p>
    </li>
    <li class="awards__block">
      <img src="/assets/images/home/gratitude.png" alt="награда сертификат" class="awards__block-image">
      <h5 class="awards__block-title">Благодарность от комитета по стандарту «Халяль»</h5>
      <p class="awards__block-date">Казань 2020 г.</p>
    </li>
  </ul>
</section>