<section class="composition">
  <div class="composition__block-navigate">
    <div class="composition__block-text">
      <p class="composition__uppertitle upper-title">Повышайте качество жизни вместе с нами</p>
      <h2 class="composition__title title__second-level">В составе нашей продукции только натуральные растительные ингредиенты,
        <span class="composition__title-opacity">
          которые стабилизируют процесс обмена веществ и общий метаболизм.
        </span>
      </h2>
    </div>
    <div class="composition__pagination-block">
      <div class="composition__pagination"></div>
    </div>
  </div>
  <div class="composition__block-image">
      <div class="composition__image-wrapper swiper-wrapper">
        <div class="composition__image composition__image_first swiper-slide"></div>
        <div class="composition__image composition__image_second swiper-slide"></div>
        <div class="composition__image composition__image_third swiper-slide"></div>
      </div>
  </div>
</section>