<section class="details"> 
  <div class="details__text-block">
    <h2 class="details__title video-title">Natural Health</h2>
    <button class="details__button"></button>
    <p class="details__text text-info">Смотреть видео о компании</p>
  </div>
  <div class="details__main-block text-info">
    <p>Компания Natural Health - первая в России компания-производитель, разработа
      вшая энергоинформационное направление, которому нет аналогов в мире.</p>
    <p>На официальном сайте компании “Натуральное здоровье” представлен каталог нашей продукции. Каждый продукт изг
      отовлен из безопасных и качественных натуральных компонентов, под пос
      тоянным и четким контролем соблюдения алгоритмов и технологий 
      производства. Высокотехнологичные продукты для здоровья и красот
      ы разрабатывают высококвалифицированные специалисты.</p>
    <p>Энергоинформационные продукты созданы по особым технологиям. В отличие от классических лекарственных препаратов  энергоинформационные продукты работают на молекулярном уровне: передают структурированную информацию здоровых клеток поврежденным и оздоравливают их.
     Энергоинформационные препараты омолаживают, оздоравливают и восстанавливают организм, не вызывая побочных действий и оказывая максимум пользы для здоровья.</p>
     <button class="details__button-info button">Подробнее о компании</button>
  </div>
  <div class="details__card">
    <h3 class="details__card-title">Патраков Сергей Анатольевич</h3>
    <p class="details__card-text">Собственник и генеральный директор компании Natural Health</p>
    <p class="details__card-quote">Идите уверенно по направлению к мечте. Живите той жизнью, которую вы сами себе придумали.</p>
    <img src="/assets/images/home/man.png" alt="человек" class="details__card-image">
  </div>
</section>

