<section class="develop">
  <div class="develop__block-image">
      <div class="develop__image-wrapper swiper-wrapper">
        <div class="develop__image develop__image_first swiper-slide"></div>
        <div class="develop__image develop__image_second swiper-slide"></div>
        <div class="develop__image develop__image_third swiper-slide"></div>
      </div>
  </div>
  <div class="develop__block-navigate">
    <div class="develop__block-text">
      <p class="develop__uppertitle upper-title">Развивайте бизнес с нами в любой точке мира</p>
      <h2 class="develop__title title__second-level">Приглашаем к сотрудничеству предпринимателей, чтобы делать лучший e−commerce в России.
        <span class="develop__title-opacity">
          Развивайте ваш бизнес с нами в любом регионе страны.
        </span>
      </h2>
    </div>
    <div class="develop__pagination-block">
      <div class="develop__pagination"></div>
    </div>
  </div>
</section>