<footer class="footer">
  <div class="footer__upper">
    <img src="/assets/images/home/bottle2.png" alt="банка" class="footer__image">
    <h2 class="footer__title">Хотите стать частью бренда и продавать нашу продукцию?</h2>
    <button class="footer__button button">Хочу стать дистрибьютором</button>
  </div>
  <ul class="footer__container">
    <li class="footer__block-first">
      <img src="/assets/images/home/icons/logoWhite.svg" alt="логотип" class="footer__block-image">
    </li>

    <li class="footer__block-main">

      <div class="footer__block">
        <div class="footer__block-info">
          <h5 class="footer__block-title">Интернет-магазин</h5>
          <nav class="footer__block-nav">
            <a href="/#" class="footer__block-link">Все продукты</a>
            <a href="/#" class="footer__block-link">ЭИП</a>
            <a href="/#" class="footer__block-link">Сон и комфорт</a>
            <a href="/#" class="footer__block-link">Косметика</a>
            <a href="/#" class="footer__block-link">Добавки</a>
          </nav>
        </div>

        <div class="footer__block-info">
          <h5 class="footer__block-title">Компания</h5>
          <nav class="footer__block-nav">
            <a href="/#" class="footer__block-link">О компании</a>
            <a href="/#" class="footer__block-link">Как стать диллером?</a>
            <a href="/#" class="footer__block-link">Сертификаты</a>
            <a href="/#" class="footer__block-link">Новости</a>
          </nav>
        </div>

        <div class="footer__block-info">
          <h5 class="footer__block-title">Покупателям</h5>
          <nav class="footer__block-nav">
            <a href="/#" class="footer__block-link">Доставка и оплата</a>
            <a href="/#" class="footer__block-link">Контакты</a>
          </nav>
        </div>
      </div>

      <div class="footer__block">
        <div class="footer__block-info">
          <h5 class="footer__block-title">Контакты</h5>
          <address class="footer__block-address">Казань, ул. Восстания 100 к5050</address>
          <nav class="footer__block-nav">
            <a href="/#" class="footer__block-link">8 800 101–59–23</a>
            <a href="/#" class="footer__block-link">info@nhstar.ru</a>
          </nav>
        </div>

        <div class="footer__block-info">
          <h5 class="footer__block-title">Часы работы</h5>
          <div class="footer__block-nav">
            <p class="footer__block-work">Понедельник - Четверг</p>
            <p class="footer__block-work">Пятница</p>
            <p class="footer__block-work">Суббота - Воскресение</p>
          </div>
        </div>
      </div>

      <div class="footer__block">
          <div class="footer__block-info">
            <p class="footer__block-work">Правовая информация</p>
          </div>
          <div class="footer__block-info">
            <p class="footer__block-work footer__block-work_author"> © 2017–2023 Все права защищены</p>
          </div>
      </div>
    </li>
  </ul>
</footer>