<header class="header">
  <img src="/assets/images/home/icons/logo.svg" alt="логотип" class="header__logo"/>
  <nav class="header__nav">
    <a class="header__button button" href="#">Каталог</a>
    <a class="header__link" href="#">Акции</a>
  </nav>
  <nav class="header__nav">
    <a class="header__link" href="#">Доставка</a>
    <a class="header__link" href="#">О компании</a>
    <a class="header__link" href="#">Отзывы</a>
    <a class="header__link" href="#">Станьте дилером</a>
    <a class="header__link" href="#">Пресс-центр</a>
    <a class="header__link" href="#">Контакты</a>
  </nav>
  <p class="header__num">8 800 101 59 23</p>
  <div class="header__icons">
    <img src="/assets/images/home/icons/loup.svg" alt="иконка найти" class="header__find header__icon" />
    <img src="/assets/images/home/icons/backet.svg" alt="иконка багаж" class="header__bucket header__icon" />
  </div>
</header>