<section class="intro">

  <div class="intro__swiper-image">
    <div class="intro__swiper-wrapper_image swiper-wrapper">

      <div class="intro__swiper-slide_image swiper-slide">
        <div class="intro__background-img intro__background-img_first">
          <div class="intro__card">
            <img src="/assets/images/home/introIcon.png" alt="иконка картинки" class="intro__card-img">
            <div class="intro__card-block">
              <h4 class="intro__card-text">BioPit   ·   3 990 ₽</h4>
              <p class="intro__card-info">Природный коллаген </p>
            </div>
          </div>
        </div> 
      </div>

      <div class="intro__swiper-slide_image swiper-slide">
        <div class="intro__background-img intro__background-img_second">
          <div class="intro__card">
            <img src="/assets/images/home/introIcon.png" alt="иконка картинки" class="intro__card-img">
            <div class="intro__card-block">
              <h4 class="intro__card-text">BioPit   ·   3 990 ₽</h4>
              <p class="intro__card-info">Природный коллаген </p>
            </div>
          </div>
        </div> 
      </div>

      <div class="intro__swiper-slide_image swiper-slide">
        <div class="intro__background-img intro__background-img_third">
          <div class="intro__card">
            <img src="/assets/images/home/introIcon.png" alt="иконка картинки" class="intro__card-img">
            <div class="intro__card-block">
              <h4 class="intro__card-text">BioPit   ·   3 990 ₽</h4>
              <p class="intro__card-info">Природный коллаген </p>
            </div>
          </div>
        </div> 
      </div>

    </div>
  </div>

  <div class="intro__swiper">
    <div class="intro__swiper-wrapper swiper-wrapper">

      <div class="intro__swiper-slide swiper-slide">
          <img src="/assets/images/home/icons/textRound.svg" alt="ионка текст" class="intro__swiper-icon">
        <div class="intro__swiper-container">
          <h1 class="intro__swiper-title">Кремниевый комплекс в подарок при покупке 2-х штук Biopit</h1>
          <p class="intro__swiper-text">Да да браток только у нас</p>
          <button class="intro__swiper-button button">Подробнее</button>
        </div>
      </div>
      <div class="intro__swiper-slide swiper-slide">
          <img src="/assets/images/home/icons/textRound.svg" alt="ионка текст" class="intro__swiper-icon">
        <div class="intro__swiper-container">
          <h1 class="intro__swiper-title">Кремниевый комплекс в подарок при покупке 2-х штук Biopit</h1>
          <p class="intro__swiper-text">Только на нашем официальном сайте  3 — 26 января</p>
          <button class="intro__swiper-button button">Подробнее</button>
        </div>
      </div>
      <div class="intro__swiper-slide swiper-slide">
          <img src="/assets/images/home/icons/textRound.svg" alt="ионка текст" class="intro__swiper-icon">
        <div class="intro__swiper-container">
          <h1 class="intro__swiper-title">Кремниевый комплекс в подарок при покупке 2-х штук Biopit</h1>
          <p class="intro__swiper-text">Только на нашем официальном сайте  3 — 26 января</p>
          <button class="intro__swiper-button button">Подробнее</button>
        </div>
      </div>
    </div>
      <div class="intro__bottom">
        <div class="intro__button-next swiper-button-next"></div>
        <div class="intro__pagination"></div>
        <div class="intro__button-prev swiper-button-prev"></div>
      </div>
  </div>
</section>