<section class="news">
  <div class="news__upper">
    <h2 class="title__second-level news__title">Пресс центр </h2>
    <div class="news__upper-left">
      <div class="news__upper-buttons">
        <button class="upper-title news__button-blog">Блог о здоровье</button>
      </div>
      <button class="news__button-watch button">Смотреть все</button>
    </div>
  </div>
  <ul class="news__main-block">

    <li class="news__block">
      <div class="news__container-image">
        <img src="/assets/images/home/news1.png" alt="картинка новости" class="news__block-image">
      </div>
      <span class="news__block-data">
        20 июня
      </span>
      <div class="news__block-lower">
        <h3 class="news__block-title">Natural Health - генеральный партнер "Ночной Казани 2022".</h3>
        <p class="news__text-lower">16 июля прошел забег "Ночная Казань". Natural Health является главным спонсором данного мероприятия. Подробнее: https://m.business-gazeta.ru/article/557357</p>
      </div>
    </li>
    
    <li class="news__block">
      <div class="news__container-image">
        <img src="/assets/images/home/news2.png" alt="картинка новости" class="news__block-image">
      </div>
      <span class="news__block-data">
        20 июня
      </span>
      <div class="news__block-lower">
        <h3 class="news__block-title">Natural Health - генеральный партнер "Ночной Казани 2022".</h3>
        <p class="news__text-lower">16 июля прошел забег "Ночная Казань". Natural Health является главным спонсором данного мероприятия. Подробнее: https://m.business-gazeta.ru/article/557357</p>
      </div>
    </li>

    <li class="news__block">
      <div class="news__container-image">
        <img src="/assets/images/home/news3.png" alt="картинка новости" class="news__block-image">
      </div>
      <span class="news__block-data">
        20 июня
      </span>
      <div class="news__block-lower">
        <h3 class="news__block-title">Natural Health - генеральный партнер "Ночной Казани 2022".</h3>
        <p class="news__text-lower">16 июля прошел забег "Ночная Казань". Natural Health является главным спонсором данного мероприятия. Подробнее: https://m.business-gazeta.ru/article/557357</p>
      </div>
    </li>

    <li class="news__block">
      <div class="news__container-image">
        <img src="/assets/images/home/news4.png" alt="картинка новости" class="news__block-image">
      </div>
      <span class="news__block-data">
        20 июня
      </span>
      <div class="news__block-lower">
        <h3 class="news__block-title">Natural Health - генеральный партнер "Ночной Казани 2022".</h3>
        <p class="news__text-lower">16 июля прошел забег "Ночная Казань". Natural Health является главным спонсором данного мероприятия. Подробнее: https://m.business-gazeta.ru/article/557357</p>
      </div>
    </li>

  </ul>
</section>