<section class="products">
  <p class="products__uppertitle upper-title">Natural Health Corporation</p>
  <h2 class="products__title title__second-level">Популярные товары</h2>
  <ul class="products__container">
    <li class="products__item">
      <img src="/assets/images/home/product1.png" alt="картинка товара" class="product__item-image">
      <button class="products__item-button"></button>
      <div class="product__item-bottom">
        <h5 class="product__item-title product-info-name">Aurum   ·   3 990 ₽</h5>
        <p class="product__item-name product-info-text">Нормализует структурно-функциональные процессы в соединительной ткани, способствует регенерации.</p>
        <div class="product__item-icons">
          <img src="/assets/images/home/icons/Immunity.svg" alt="иконка товара" class="product__item-icon">
          <img src="/assets/images/home/icons/moon.svg" alt="иконка товара" class="product__item-icon">
          <img src="/assets/images/home/icons/bones.svg" alt="иконка товара" class="product__item-icon">
        </div>
      </div>
    </li>
      <li class="products__item">
      <img src="/assets/images/home/product2.png" alt="картинка товара" class="product__item-image">
      <button class="products__item-button"></button>
      <div class="product__item-bottom">
        <h5 class="product__item-title product-info-name">Aurum   ·   3 990 ₽</h5>
        <p class="product__item-name product-info-text">Нормализует структурно-функциональные процессы в соединительной ткани, способствует регенерации.</p>
        <div class="product__item-icons">
          <img src="/assets/images/home/icons/Immunity.svg" alt="иконка товара" class="product__item-icon">
          <img src="/assets/images/home/icons/moon.svg" alt="иконка товара" class="product__item-icon">
          <img src="/assets/images/home/icons/bones.svg" alt="иконка товара" class="product__item-icon">
        </div>
      </div>
    </li>
    <li class="products__item">
      <img src="/assets/images/home/product1.png" alt="картинка товара" class="product__item-image">
      <button class="products__item-button"></button>
      <div class="product__item-bottom">
        <h5 class="product__item-title product-info-name">Aurum   ·   3 990 ₽</h5>
        <p class="product__item-name product-info-text">Нормализует структурно-функциональные процессы в соединительной ткани, способствует регенерации.</p>
        <div class="product__item-icons">
          <img src="/assets/images/home/icons/Immunity.svg" alt="иконка товара" class="product__item-icon">
          <img src="/assets/images/home/icons/moon.svg" alt="иконка товара" class="product__item-icon">
          <img src="/assets/images/home/icons/bones.svg" alt="иконка товара" class="product__item-icon">
        </div>
      </div>
    </li>
    <li class="products__item">
      <img src="/assets/images/home/product2.png" alt="картинка товара" class="product__item-image">
      <button class="products__item-button"></button>
      <div class="product__item-bottom">
        <h5 class="product__item-title product-info-name">Aurum   ·   3 990 ₽</h5>
        <p class="product__item-name product-info-text">Нормализует структурно-функциональные процессы в соединительной ткани, способствует регенерации.</p>
        <div class="product__item-icons">
          <img src="/assets/images/home/icons/Immunity.svg" alt="иконка товара" class="product__item-icon">
          <img src="/assets/images/home/icons/moon.svg" alt="иконка товара" class="product__item-icon">
          <img src="/assets/images/home/icons/bones.svg" alt="иконка товара" class="product__item-icon">
        </div>
      </div>
    </li>
  </ul>
</section>