<section class="ranges">
  <p class="ranges__uppertitle upper-title">Natural Health Corporation</p>
  <h2 class="range__title">Линейки.
    <span class="range__title-opacity">Подбери необходимый формат сам</span>
  </h2>
  <ul class="range__block-container">
    <li class="range__block-image">
      <img src="/assets/images/home/bottle1.png" alt="банка" class="range__block-product">
      <h4 class="range__block-name">Космецевтика</h4>
    </li>
    <li class="range__block-image">
      <img src="/assets/images/home/bottle2.png" alt="банка" class="range__block-product">
      <h4 class="range__block-name">Минеральные комплексы</h4>
      <p class="range__block-text">Минеральные комплексы содержат в своем составе все минералы, требующиеся человеческому организму</p>
    </li>
       <li class="range__block-image">
      <img src="/assets/images/home/bottle3.png" alt="банка" class="range__block-product">
      <h4 class="range__block-name">ЭИП</h4>
    </li>
       <li class="range__block-image">
      <img src="/assets/images/home/bottle4.png" alt="банка" class="range__block-product">
      <h4 class="range__block-name">Пищевые добавки</h4>
    </li>
       </li>
       <li class="range__block-image">
      <img src="/assets/images/home/bottle5.png" alt="банка" class="range__block-product">
      <h4 class="range__block-name">Анатомическая продукция</h4>
    </li>
  </ul>
  <div class="range__background-image"></div>
</section>  
