<section class="reviews">
  <h2 class="reviews__title upper-title">Отзывы наших покупателей</h2>
  <ul class="reviews__container">
    <li class="reviews__block">
      <div class="reviews__block-upper">
        <div class="reviews__block-image">
          <img src="/assets/images/home/reviews1.png" alt="картинка отзыва" class="reviews__image-icon">
        </div>
        <div class="reviews__block-text">
          <h5 class="reviews__title-info">Мирослава</h5>
          <p class="reviews__text-info">28 лет, Казань</p>
        </div>
      </div>
      <p class="reviews__text text-info">Нашла я его случайным образом, покупала белковые ба
        тончики (перекусывала ими перед тренировкой или после), и вот на батончиках вычита
        ла, что в составе присутствует L-карнитин, вроде способствующий улучшению обме
        на веществ
      .</p>
    </li>
    <li class="reviews__block">
      <div class="reviews__block-upper">
        <div class="reviews__block-image">
          <img src="/assets/images/home/reviews2.png" alt="картинка отзыва" class="reviews__image-icon">
        </div>
        <div class="reviews__block-text">
          <h5 class="reviews__title-info">Мирослава</h5>
          <p class="reviews__text-info">28 лет, Казань</p>
        </div>
      </div>
     <p class="reviews__text text-info">Нашла я его случайным образом, покупала белковые ба
        тончики (перекусывала ими перед тренировкой или после), и вот на батончиках вычита
        ла, что в составе присутствует L-карнитин, вроде способствующий улучшению обме
        на веществ
      .</p>
    </li>
    <li class="reviews__block">
      <div class="reviews__block-upper">
        <div class="reviews__block-image">
          <img src="/assets/images/home/reviews3.png" alt="картинка отзыва" class="reviews__image-icon">
        </div>
        <div class="reviews__block-text">
          <h5 class="reviews__title-info">Мирослава</h5>
          <p class="reviews__text-info">28 лет, Казань</p>
        </div>
      </div>
     <p class="reviews__text text-info">Нашла я его случайным образом, покупала белковые ба
        тончики (перекусывала ими перед тренировкой или после), и вот на батончиках вычита
        ла, что в составе присутствует L-карнитин, вроде способствующий улучшению обме
        на веществ
      .</p>
    </li>
  </ul>
</section>