<section class="ticker">
  <ul class="ticker__container swiper-wrapper">
    <p class="ticker__block swiper-slide">Работаем в 12 странах</p>
    <p class="ticker__block swiper-slide">100% натуральный продукт</p>
    <p class="ticker__block swiper-slide">Бесплатная доставка </p>
    <p class="ticker__block swiper-slide"> Производство в России</p>
    <p class="ticker__block swiper-slide">120+ продуктов</p>
    <p class="ticker__block swiper-slide">Работаем в 12 странах</p>
    <p class="ticker__block swiper-slide">100% натуральный продукт</p>
  </ul>
</section>
   